{% extends "base.html" %}
{% block body %}

{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

<form method="POST" action="" accept-charset="UTF-8" class="form-signin">
  <h2 class="form-signin-heading">Sign in</h2>
  {% with errors = get_flashed_messages() %}
    {% if errors %}
    <div class="alert alert-warning">
      <ul class="flashes">
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endwith %}

  {% if form.errors %}
  <div class="alert alert-danger">
    <ul class="warning">
      {% for field, error in form.errors.items() %}
        {% for e in error %}
          <li>{{ e }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {{ form.csrf_token }}
  {{ render_field(form.email, placeholder="Your Email Address", class="form-control", required="", type="email", autofocus="") }}
  {{ render_field(form.password, placeholder="Password", class="form-control", required="") }}
  <div>
  <label>
    <input type="checkbox" name="remember" value="1">Remember Me
  </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a role="button" href="/forgot_password">Forgot your password?</a><span class="clearfix"></span>
</form>

{% endblock %}