{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/catalog.css"><!-- TODO: Add integrity="sha384-..." for final version -->
  <link rel="icon" href="/static/img/favicon.ico">
  <!-- Custom styles for this template -->
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">The Catalog App</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/catalog/">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/signin/">Login</a>
        </li>
      </ul>
      <!--form method="POST" action="/auth/signin/" accept-charset="UTF-8" role="form" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Your Email Address" name="email">
        <input class="form-control mr-sm-2" type="password" placeholder="Your Password" name="password">
        <button type="submit" name="submit" class="btn my-2 my-sm-0">Sign in</button>
      </form-->
    </div>
  </nav>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">The Catalog App</h1>
      <p>The Catalog App is an app to maintain a simple catalog. Enjoy ;)</p>
    </div>
  </div>
  <div class="container">
    {{ utils.flashed_messages() }}
    <h2>{{ title }}</h2>
    {% block body %}
    {% endblock %}
    <hr>
    <footer>
      <p>Copyright &copy; 2017 Oliver Maerz. All rights reserved.</p>
    </footer>
  </div>
  <!-- /container -->
  <!-- Bootstrap core JavaScript -->
  <script src="/static/js/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="/static/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="/static/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>